{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<h3>RSVP</h3>
<h4>A simple no-bloat privacy-respecting online event coordinator.</h4>
<p>
	Because finding a date when you can all get together should be simple, free, and not require creating <i>another stupid account</i> on the internet.
</p>
<p style="text-align: center">
	<a href="/new">Make A New Event</a>
</p>
<p>
	Have an existing event? Simply paste the link to the event into your web browser. 
</p>
{% endblock %}

